target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
gba.properties
.settings
.project
.classpath
*.log
*.mdmp
.DS_Store
~*
*.tmp

